<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/jquery.easy-pie-chart.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/simple-sidebar.css" rel="stylesheet" />
<link href="~/css/styles-blue.css" rel="stylesheet" />
<link href="~/css/styles-orange.css" rel="stylesheet" />
<link href="~/css/styles-red.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>


<section class="well " style="margin:0 auto">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Settings</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Profile", "Profile", "Home")</li>
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li>@Html.ActionLink("Messages", "msg", "Home")</li>
                    <li>@Html.ActionLink("Notification", "noti", "Home")</li>
                    <li>@Html.ActionLink("Settings", "sett", "Home")</li>
                    <li>@Html.ActionLink("LogOut", "Login", "Home")</li>
                </ol>
            </div>
        </div>
    </div>

</section>

<div id="sidebar-wrapper">

    <ul class="sidebar-nav" style="border:dashed">
       
        <li><a href="#GettingStarted">General</a></li>
        <li> <a href="#MainStructure">Privacy<span class="fa-fa-angle-down"></span></a></li>
        
            <li><a href="#BegOfPage">Profile settings</a></li>
            <li><a href="#PageHead">Mobile number</a></li>
            <li><a href="#Header">Blocking</a></li>
            <li><a href="#Sections">Lock</a></li>
            <li> <a href="#Footer">Info</a></li>
        
        <li><a href="Message">Deactivate <span class="fa-fa-angle-down"></span></a></li>
        </ul>

</div>

<div style="float:right;border:solid; height:508px;width:250px;background-color:#585858">
</div>
<div style=" height:508px;width:849px;float:right">
    <h3>General Account Settings</h3>
    <hr />
    <label>Name</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Rabab Meraj</label>
    <hr />
    <label>User name</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Not set</label>
    <hr />
    <label>Contact</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Primary: rababmeraj1@gmial.com</label>
    <hr />
    <label>Password</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Update on @DayOfWeek.Monday</label>
    <hr />
    <label>Networks</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>No Network</label>
    <hr />
</div>